{% extends "base.html" %}

{% block title %}<title>List of visits • ToTheDoctor</title>{% endblock %}

{% block content %}
  <br>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <a href="{% url 'reception:index' %}" role="button" class="btn btn-outline-primary">
        < Back
      </a>
      </div>

      <div class="col">
        <h2 class="text-center">List of visits</h2>
      </div>

      <div class="col">
        <a href="{% url 'reception:visit-create' %}" class="btn btn-primary link-to-page">
          Create a new visit
        </a>
      </div>
    </div>

    {% include "includes/search.html" %}

    <div class="row border-bottom px-0">
      <div class="col">
        {% if visit_list %}
        <table class="table table-borderless table-hover">
          <thead class="thead-light border-top">
            <tr>
              <th scope="col">Date/Time visit</th>
              <th scope="col">Doctor</th>
              <th scope="col">Patient</th>
              <th scope="col">Treatment direction</th>
              <th scope="col">Type of visit</th>
              <th scope="col">#</th>
            </tr>
          </thead>
          {% for visit in visit_list %}
            <tbody>
              <tr>
                <td>
                  <a href="{% url 'reception:visit-detail' pk=visit.id %}" class="text-warning">
                    {{ visit.date_time }}
                  </a>
                </td>
                <td>{{ visit.doctor }}</td>
                <td>{{ visit.patient }}</td>
                <td>{{ visit.treatment_direction }}</td>
                <td>{{ visit.get_type_of_visit_display }}</td>
                <td>{{ visit.id }}</td>
              </tr>
            </tbody>
          {% endfor %}
        </table>
        {% else %}
          {% include "includes/fail_request.html" %}
        {% endif %}
      </div>
    </div>

  </div>

{% endblock %}
